<mat-horizontal-stepper #tabStepper
  labelPosition="bottom"
  [linear]="true">

  <mat-step
    *ngFor="let t of tabs"
    [completed]="false"
    [ngSwitch]="t.name">

    <ng-template matStepLabel>{{t.title}}</ng-template>
    <ng-template matStepperIcon="edit">
      <mat-icon>done</mat-icon>
    </ng-template>

    <!-- Steps -->
    <portfolio-welcome-step *ngSwitchCase="'welcome'"></portfolio-welcome-step>
    <portfolio-grade-select-step *ngSwitchCase="'grade'"></portfolio-grade-select-step>
    <portfolio-learning-summary-report-step *ngSwitchCase="'learning-summary'"></portfolio-learning-summary-report-step>
    <portfolio-tasks-step *ngSwitchCase="'tasks'"></portfolio-tasks-step>
    <portfolio-add-extra-files-step *ngSwitchCase="'extra-files'"></portfolio-add-extra-files-step>
    <portfolio-review-step *ngSwitchCase="'review'"></portfolio-review-step>

  </mat-step>

</mat-horizontal-stepper>
