<div class="settings-modal-component">
    <h3 mat-dialog-title>Settings</h3>
    <div mat-dialog-content>
        <h4>Edit Profile Settings</h4>
        <hr>
        <div class="col-sm-12">
            <p>Profile settings here</p>
            <hr>
            <p>Student ID/Avatar here</p>
            <hr>
            <label>
                Allow Analytics
            </label>
            <mat-slide-toggle class="aligned-toggle"></mat-slide-toggle>
            <p>Allow us to anonymously gather your usage to improve Doubtfire.</p>
        </div>
    </div>
    <div mat-dialog-content>
        <h4>Edit Notification Settings</h4>
        <hr>
        <div class="col-sm-12">
            <label>
                Task Notifications
            </label>
            <mat-slide-toggle class="aligned-toggle"></mat-slide-toggle>
            <br>
            <label>
                Feedback Notifications
            </label>
            <mat-slide-toggle class="aligned-toggle"></mat-slide-toggle>
            <br>
            <label>
                Portfolio Notifications
            </label>
            <mat-slide-toggle class="aligned-toggle"></mat-slide-toggle>
            <hr>
        </div>
    </div>
</div>
